# **Challenging task**
## ***20BCE1952 - Simhadri Mohana Kushal***

In [ ]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.8/dist-packages (0.5.0.20230113)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)

In [ ]:
from snscrape.modules import twitter
import json
import pandas as pd
import numpy as np

## Collecting the data from Twitter

In [ ]:
query = 'Layoffs 2023'
max_results = 500

In [ ]:
def scrape_search(query):
  scraper = twitter.TwitterSearchScraper(query)
  return scraper

In [ ]:
tweets = []
for tweet in scrape_search(query).get_items():
  if len(tweets) == max_results:
    break
  else:
    tweets.append([tweet.content])

data = pd.DataFrame(tweets, columns = ["text"])
data.to_csv("scrap.csv")

<ipython-input-112-6bb083e9d519>:6: FutureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.content])

In [ ]:
data.head()

                                                text
0  TCS कंपनी Startup कंपनियों से नौकरी गंवाने वाल...
1  On last Friday, full day electricity was not t...
2  At a time when companies are laying off employ...
3  'TCS' Not Considering Layoffs, Hiring Impacted...
4  @SMTOWNGLOBAL This is karma for y’all cockbloc...

## Per-processing the Collected data

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

In [ ]:
import nltk
import string
import re

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize
stemmer = PorterStemmer()


from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
lemmatizer = WordNetLemmatizer()

In [ ]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
def listToString(s):
    # initialize an empty string
    str1 = ""
    # traverse in the string
    for ele in s:
        str1 += ele + " "
    # return string
    return str1

# Convert text to lowercase
def text_lowercase(text):
    return text.lower()

# Remove all numbers
def remove_numbers(text):
    result = re.sub(r'\d+', '', text)
    return result

# Remove punctuations
def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

# Remove whitespaces
def remove_whitespace(text):
    return  " ".join(text.split())

# Remove stopwords
def remove_stopwords(text):
    stop_words = set(stopwords.words("english"))
    word_tokens = word_tokenize(text)
    filtered_text = [word for word in word_tokens if word not in stop_words]
    return filtered_text

In [ ]:
df = []
dfdf = []
for text in data['text']:
  text = str(text)
  text = text_lowercase(text)
  text = remove_numbers(text)
  text = remove_punctuation(text)
  text = remove_whitespace(text)
  text = remove_stopwords(text)
  df.append(text)
  dfdf.append(listToString(text))

In [ ]:
data['listForm']=pd.Series(df)
data.head()

,text,listForm
0,"A CEO narrating his story of rags to riches, a...","[ceo, narrating, story, rags, riches, benefici..."
1,TCS कंपनी Startup कंपनियों से नौकरी गंवाने वाल...,"[tcs, कंपनी, startup, कंपनियों, से, नौकरी, गंव..."
2,"On last Friday, full day electricity was not t...","[last, friday, full, day, electricity, lohegao..."
3,At a time when companies are laying off employ...,"[time, companies, laying, employees, indian, g..."
4,"'TCS' Not Considering Layoffs, Hiring Impacted...","[tcs, considering, layoffs, hiring, impacted, ..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
bow = vectorizer.fit_transform(data['text'])

In [ ]:
count_array = bow.toarray()
features = vectorizer.get_feature_names()
df = pd.DataFrame(data=count_array, columns=features)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

## Transforming dataset using TF-IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
response = vectorizer.fit_transform(data['text'])
print(response)

  (0, 1661)	0.18437815215040193
  (0, 628)	0.03578102086720673
  (0, 1442)	0.035854720683281285
  (0, 1690)	0.046157992168264494
  (0, 2134)	0.18437815215040193
  (0, 1166)	0.148970230673824
  (0, 3146)	0.18437815215040193
  (0, 3190)	0.12937921341183137
  (0, 2153)	0.12742920831311133
  (0, 2910)	0.1314737910173292
  (0, 1149)	0.1361953848549881
  (0, 2378)	0.15332712443916272
  (0, 1620)	0.12742920831311133
  (0, 400)	0.09832818570059212
  (0, 1058)	0.15848023602435055
  (0, 2927)	0.1314737910173292
  (0, 3061)	0.17291814170115538
  (0, 2059)	0.12742920831311133
  (0, 725)	0.18437815215040193
  (0, 1089)	0.36875630430080386
  (0, 280)	0.2385964030007304
  (0, 967)	0.16478713488840926
  (0, 2314)	0.18437815215040193
  (0, 1210)	0.18437815215040193
  (0, 2278)	0.18437815215040193
  :	:
  (498, 1442)	0.05254231532127077
  (498, 400)	0.14409233818011635
  (498, 2036)	0.15525906521144642
  (499, 2691)	0.26874883165871755
  (499, 1671)	0.26874883165871755
  (499, 615)	0.25611164645861784
  (499, 2577)	0.2256633490829405
  (499, 850)	0.23152906370409107
  (499, 2093)	0.19004112473178517
  (499, 1390)	0.2256633490829405
  (499, 1888)	0.2383005342830402
  (499, 2201)	0.2383005342830402
  (499, 1501)	0.1426028158652072
  (499, 2062)	0.19805007454064713
  (499, 308)	0.2383005342830402
  (499, 1517)	0.40216153265682747
  (499, 2379)	0.1925519571075511
  (499, 63)	0.07736903577305747
  (499, 1728)	0.20108076632841373
  (499, 2882)	0.08048025482008923
  (499, 1168)	0.12397060300495252
  (499, 284)	0.28724089095997324
  (499, 1688)	0.06389510893827484
  (499, 1487)	0.09013154946795025
  (499, 2941)	0.08170622111385248

## Using VADER Sentimental Analysis

In [ ]:
pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2.10)

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
def sentiment_scores(sentence):
    sid_obj = SentimentIntensityAnalyzer()
    sentiment_dict = sid_obj.polarity_scores(sentence)
    if sentiment_dict['compound'] >= 0.05 :
        return ["Positive",sentiment_dict['compound']]
    elif sentiment_dict['compound'] <= - 0.05 :
        return ["Negative",sentiment_dict['compound']]
    else :
        return ["Neutral",sentiment_dict['compound']]

In [ ]:
sentiment = []
polarityScores = []
for text in data['text']:
  result = sentiment_scores(text)
  sentiment.append(result[0])
  polarityScores.append(result[1])

In [ ]:
data['sentiment']=pd.Series(sentiment)
data['polarity_scores']=pd.Series(polarityScores)
data.head()

,text,listForm,sentiment,polarity_scores
0,"A CEO narrating his story of rags to riches, a...","[ceo, narrating, story, rags, riches, benefici...",Positive,0.7579
1,TCS कंपनी Startup कंपनियों से नौकरी गंवाने वाल...,"[tcs, कंपनी, startup, कंपनियों, से, नौकरी, गंव...",Positive,0.4019
2,"On last Friday, full day electricity was not t...","[last, friday, full, day, electricity, lohegao...",Negative,-0.4939
3,At a time when companies are laying off employ...,"[time, companies, laying, employees, indian, g...",Negative,-0.3182
4,"'TCS' Not Considering Layoffs, Hiring Impacted...","[tcs, considering, layoffs, hiring, impacted, ...",Neutral,0.0000

## find the positive and Nefative